.formReset {
    max-width: 350px;
    padding: 1rem;
  }


  .formReset.formFloating:focus-within {
    z-index: 2;
  }

  .formReset input {
    margin-bottom: 2px;
  }

  .formReset input[id="passwordConfirmInput"] {
    margin-bottom: 1rem;
  }
  