.formForgot {
    max-width: 350px;
    padding: 1rem;
  }


  .formForgot .formFloating:focus-within {
    z-index: 2;
  }

  .formForgot input[type="email"] {
    margin-bottom: 1rem;
  }
  
